/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

body {
	xfont: 1em 'HelveticaNeueRoman',Arial,Helvetica,Verdana,sans-serif;
	xfont-family: 'HelveticaNeueRoman';
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 10pt;
	background: url(/css/images/body_bg.jpg) no-repeat center top;
	color: #000;
}
a {
	text-decoration: none;
	outline: none;
}

.hide {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.left {
	float: left;
}
.right {
	float: right !important;
}
.center {
	text-align: center;
}
ul.inline {
	font-size: 10pt;
	overflow: hidden;
}
ul.inline.center {
	text-align: center;
}
ul.inline > li {
	display: inline-block;
	list-style-type: none;
}
ul > li.btn {
	margin: 1px 4px;
	padding: 1px 4px 0;
	background: #FFF;
	border: 1px solid #D8D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #494949;
}

ul > li.btn:hover, ul > li.btn.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374) !important;	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374)) !important;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}
nav > ul {
	cursor: default;
}
nav > ul > li, nav > ul > li > a {
	cursor: pointer;
}
nav ul.menu-trigger > li , nav  ul.menu-trigger > li > a {
	cursor: pointer;
}
.menu > ul > li , .menu > ul > li > a {
	cursor: pointer;
}
ul > li.label {
	cursor: default !important;
}


.container_x, .grid_x {
	margin-left: 10px;
	margin-right: 10px;
}
.grid_x {
    display: inline-block;
    position: relative;
    float: left;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}

header {
	background: #000;
	height: 40px;
}
header li {
	line-height: 40px !important;
	color: #FFFFFF;
	font-size: 10pt;
	padding: 0 5px;
	margin-left: 5px;
}
header li > a {
	color: #FFFFFF;
}
header .logo {
	padding-top: 5px;
	display: block;
}
header nav.user ul.right {
	display: inline-block;
}
header nav.user ul.right > li {
	display: inline;
	padding-left: 5px;
	margin-left: 10px;
}
header nav.user li.bg-grey {
	background: #474b4d;
	padding: 0 5px;
	display: inline-block !important;
}
header .grey {
	color: #AEAEAE;
}

section.item-header > div.wrap {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(197,232,250)),color-stop(1, rgb(232,246,253))	);
	background-image: -moz-linear-gradient(center bottom,rgb(197,232,250) 0%,rgb(232,246,253) 100%);
	background: #FFFFC3;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	box-shadow: 0 0 5px #888888;
	padding: 4px;	
	clear: both;
	overflow: hidden;
}
section.item-header ul {
	height: 50px;
}
section.item-header .thumbnail img {
	width: 50px;
	height: 50px;
	vertical-align: text-bottom;
}
section.item-header .label {
	font-size: 1.5em;
}
section.item-header .item-class {
	font-weight: 700;
}
section.item-header h1 {
	font-size: 20pt;
}


#item-body , #gallery-container {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	background: #fff;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-top: 7px;
	overflow: hidden;
}
#item-body.plain {
	margin-top: 0;
	padding: 10px 0;
}
section.import ul li {
	width: 45%;
}
input[type='submit'].orange {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: none;
	font-size: 1em;
	font-weight: normal;
	padding: 4px;
	color: #000;
	border: 1px solid #CD7708;	
	margin-left: auto;
	margin-right: auto;
}
input[type='submit']:hover.orange {
	font-weight: bold;
}
#choose-folder .block {
	padding: 10px;
}
#drop-target {
	border: 1px solid #D9E4FF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	background-color: #EEE;
	padding:20px;
}

#drop-target.over{
	border:1px solid green;
	background-color: #CCFFCC;
}

#drop-target p {
	text-align: center;
	cursor:default;
}
#item-body .import-progress-wrap ul {
	margin: 0 auto;
	width: 90%;
}
#item-body .import-progress-wrap  li.label {
	width: 39%;
	min-width: 206px;
	text-align: right;
}

#import-progress {
	padding:0;
    height: 14px;
    border: 1px solid #666;
	vertical-align: text-bottom;
	width: 60%;
}
#import-progress > div.bar {
    background-color: green;
    height: 100%;
    width: 0;
}

#import-progress span {
    font-family: arial, verdana;
	height: 12px;
    font-size: 12px;
	position:relative;
	left:48%;
	top: -12px;
	z-index:10;
	color: white;
}

#gallery-container {
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;	
}

#gallery-container > .wrap, #item-body > .wrap {
    overflow: hidden;
    padding: 0 10px;
}

#gallery-container > .wrap > div, #item-body > .wrap > div {
	width: 100%;
}

#gallery-container .center {
	margin: 0 auto;
}

/*
 * global footer 
 */
#footer {
	margin-top: 10px;
}
#footer span {
	font-size: 8pt;
}
#footer img {
	vertical-align: text-bottom;
}





/*
 * gallery-header
 */



/* gallery toolbars */
section.gallery-header {
	line-height: 28px;
	font-size: 10pt;
	overflow: hidden;	
}
section.gallery-header h1 {
	font-size: 1.1em;
	line-height: 28px;
}
section.gallery-header ul > li {
}
.gallery-container section.gallery-header ul {
	line-height: 1.5;
}
section.gallery-header li.display-option {
/*	background: -moz-linear-gradient(bottom, #E2E6EB, #ffffff);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#ffffff));*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 1px 0 0 8px;
	padding: 2px 4px;
	background-color: #E2E6EB;
	border: 1px solid #D2D2D2;
}
section.gallery-header li.display-option a {
	color: #000;
}
section.gallery-header li.display-option:hover {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	border: 1px solid #CD7708;
}
section.gallery-header li.display-option:hover a {
	color: #FFF;
}
section.gallery-header li.display-option.open {
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border: 1px solid #D2D2D2;
	border-bottom: 0px solid #f5f5f5;
	padding-bottom: 2px;	
	height: 24px;	
}

section.gallery-header ul.thumb-size li {
	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 4px;
	padding: 2px;
}
section.gallery-header ul.thumb-size li.btn:hover, section.gallery-header ul.thumb-size li.btn.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}

section.gallery-header ul.thumb-size li.btn.focus {
	cursor: default !important;
}

section.gallery-header ul.thumb-size li.btn {
	border-color: #D8D5D5;
}


section.gallery-display-options nav.settings {
	border: 1px solid #D2D2D2;
}
section.gallery-display-options nav.settings {
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 20px !important;
	font-size: 10pt;
	overflow: hidden;
}
section.gallery-display-options li, section.gallery-display-options ul.filter ul{
	float:left;
}
section.gallery-display-options ul li {
	list-style-type: none;
	font-size: 10pt;
}
section.gallery-display-options ul li.btn {
	height: 21px;
	margin: 1px 4px;
	padding: 1px 4px 0;
	background: #FFF;
	border: 1px solid #D8D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #494949;
}
section.gallery-display-options ul.filter li.btn a {
	color: #494949;
}
section.gallery-display-options li.rating.btn {
	width: 156px;
}
section.gallery-display-options li.rating.btn li.remove {
	padding: 0 4px;
	font-size: 0.9em;
	font-weight: bold;
}
section.gallery-display-options li.rating.btn li.remove a {
	color:red;
}
section.gallery-display-options ul li div.ratingGroup {
	margin: 2px 5px 2px
}

section.gallery-display-options ul.sort {
	border-left: 1px solid #d8d5d5;
	padding-left: 10px;
	float: right;
}
section.gallery-display-options ul.sort li select {
	height: 18px;
	margin-top: 1px;
	color: #494949;
}

section.gallery-display-options ul li.btn:hover, section.gallery-display-options ul li.btn.selected {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}
section.gallery-display-options.wide nav.settings {
	-webkit-border-radius: 5px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 20px !important;
	font-size: 10pt;
	overflow: hidden;	
}
section.gallery-display-options ul > li.label {
	padding: 4px 10px 0 4px;
	font-size: 1.0em;
	color: black;
}

.menu-open {
	background: url(/css/images/arrow.png) no-repeat right center;
	padding-right: 15px;
}
.menu-close {
	background: url(/css/images/arrow-up.png) no-repeat right center;
	padding-right: 15px;
}
/*
 * edits for AIR
 */

.gallery-header {
}
.gallery-header > * {
	display: inline-block;
	line-height: 1.5;
}
section.gallery-display-options nav.settings > * {
	display:inline-block;
}


#gallery-container .gallery.photo {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #E5E5E5;
	overflow: hidden;
}

/* thumbnails */
#gallery-container .gallery.photo .container {
	overflow: hidden;
	min-height: 60px;
	xmargin-left: auto;
	xmargin-right: auto;
	xdisplay:inline-block;
}
.FigureBox.PhotoAirUpload {
	padding: 2px;
	overflow: hidden;
	border: 1px solid #E5E5E5;
	xborder-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 0 4px 10px 0;
	xposition: relative;
	background-color: #FFF;
}
.FigureBox.PhotoAirUpload  figure {
	overflow: hidden;
	position: relative;
}
.FigureBox.PhotoAirUpload  figure > img {
	display: block;
}
.FigureBox.PhotoAirUpload  figcaption {
	display: block;
	overflow: hidden;
	width: 75px;
	margin: 0 4px;
	xline-height: 1.2;
}
.FigureBox.PhotoAirUpload  figcaption .progress-wrap {
	display: inline-block;
	overflow: hidden;
}
.FigureBox.PhotoAirUpload:hover {
	background: #fff88a;
}
.FigureBox.PhotoAirUpload.focus {
	background: #fff88a;
}



/*
 * .lm landscape/medium
 */
/*.FigureBox.lm {
	width: 145px;		
	height: 120px;	
}*/
.FigureBox.lm > figure > img {
	width: 144px;
	height: 96px;
}

/*
 * .ll (landscape/large) == .large 
 */

.FigureBox.ll > figure > img {
	width: 222px;
	height: 148px;
}
/*
 * .sq (square) 
 */
.FigureBox.sq > figure > img {
	width: 75px;
	height: 75px;
}

/*temp CSS for selected*/
.FigureBox.PhotoAirUpload.selected {
	border: 1px solid red;
	-webkit-box-shadow: 2px 2px 5px #FF0000; /* Safari and Chrome */
	box-shadow: 2px 2px 5px #FF0000;
}


/* Hidden Shot icons */


.FigureBox.PhotoAirUpload figure > img {
    margin: 4px;
}
.FigureBox.PhotoAirUpload.status-pending figure > img {
	border: 2px solid green;
	margin: 2px;
}
.FigureBox.PhotoAirUpload.status-paused figure > img {
	border: 2px solid green;
	margin: 2px;
}
.FigureBox.PhotoAirUpload.status-active figure > img{
	border: 2px solid green;
	margin: 2px;
}
.FigureBox.PhotoAirUpload.status-error {
    background-color: #FFEBEB;
}
.FigureBox.PhotoAirUpload.status-error figure > img {
	border: 2px solid red;
	margin: 2px;
}
.FigureBox.PhotoAirUpload.status-cancelled figure > img {
	border: 2px solid #BBB;
	margin: 2px;
}
.FigureBox.PhotoAirUpload.status-done figure > img {
	border: 1px solid #E8E8E8;
	margin: 3px;
}

.FigureBox.PhotoAirUpload.status-done .progress-wrap > div.progress div.border {
	background-color:green;
	border: 1px solid green;
}
.FigureBox.PhotoAirUpload.status-done .progress-wrap > div.progress div.bar {
	background-color:green;
}

.FigureBox.PhotoAirUpload .label {
	font-size: 8pt;
	padding-top: 2px;
	text-align: center;
}


.FigureBox.PhotoAirUpload .progress-wrap {
	overflow: hidden;
    height: 8px;
    padding: 4px;
    padding-left:0;
/*    width = 75 - 14 = 57*/
    width: 57px;
    display: inline;
}

.FigureBox.PhotoAirUpload  div.progress-wrap > div.progress {
	background-color: none;
	color: black;
}

.FigureBox.PhotoAirUpload  div.progress-wrap > div.progress div.border {
	border: 1px solid blue;
	background-color: white;
	opacity:1;
}

.FigureBox.PhotoAirUpload  div.progress-wrap > div.progress div.bar {
    background-color: blue;
	opacity:1;
    width: 0%;
    height: 6px;
}

.FigureBox.PhotoAirUpload.status-error  .progress-wrap > div.progress div {
	 background-color: red !important;
	 border-color: black !important;
}
.FigureBox.PhotoAirUpload.status-cancelled  .progress-wrap > div.progress div {
	 background-color: #BBB !important;
	 border-color: black !important;
}

.FigureBox.PhotoAirUpload  div.cancel {
    background: url("/img/css/cancelbutton.gif") no-repeat -14px 0;
    display: inline-block;
    height: 14px;
    width: 14px;
    cursor: pointer;
	float:right;
}

.FigureBox.PhotoAirUpload  div.cancel:hover {
    background-position: 0 0;
}


.FigureBox.PhotoAirUpload ul.extras {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.FigureBox.PhotoAirUpload .extras li {
	float: left;
	margin: 5px 4px 0 0;
}
.FigureBox.PhotoAirUpload .extras li img {
	float: left;
}

.FigureBox.PhotoAirUpload .extras li.rating {
	padding: 2px 0 0 0;
}
.FigureBox.PhotoAirUpload .extras li.rating > img {
	width: 13px;
	height: 12px;
}
.FigureBox.PhotoAirUpload .extras li.score {
	font-size: 11px;
	background: -moz-linear-gradient(bottom, #eeeeee, #fff);
	background: -webkit-gradient(linear, center bottom, center top, from(#eeeeee), to(#fff));
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 25px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	cursor: default;
}
.FigureBox.PhotoAirUpload .extras li.icon {
	float: right;
	cursor: pointer;
}
.FigureBox.PhotoAirUpload .extras li.info > img {
	width: 16px;
	height: 17px;
}
.FigureBox.PhotoAirUpload .extras li.context-menu > img {
	width: 15px;
	height: 16px;
}



/*
 * AUI paginator
 */
.paging-numbers {
	display:block;
}
.aui-paginator-container > .wrap {
	-webkit-border-radius: 5px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 21px;
	margin-bottom: 4px;
	font-size: 10pt;
	overflow: hidden;
	position: relative;
	padding: 0 20px;
}
.aui-paginator-container .wrap > div {
	display: inline-block;
	color: black;
}
.wrap-rows-per-page {
	width: 40%;
	text-align: left;
}
.aui-paginator-rows-per-page {
	bottom: 2px;
}
.wrap-page-report {
	width: 20%;
}
.aui-paginator-current-page-report {
	display: block;
	text-align:center;
}
.wrap-paginator-link {
	width: 40%;
	text-align: right;
	cursor: pointer;
}
.wrap-paginator-link > a {
	display: inline-block;
	width: 11px;
}
.aui-paginator-first-link{
	background: url(/css/images/first.png) no-repeat center;
} 
.aui-paginator-prev-link{
	background: url(/css/images/prev.png) no-repeat center;
} 
.aui-paginator-next-link{
	background: url(/css/images/next.png) no-repeat center;
} 
.aui-paginator-last-link{
	background: url(/css/images/last.png) no-repeat center;
} 
.aui-paginator-page-link {
	border: 1px solid #CCCCCC;
	padding: 3px;
} 
/* added some sytles inherited from somewhere */
.aui-paginator-link {
    color: #000000;
    outline-style: none;
    text-decoration: none;
}
.wrap-paginator-link > a, .wrap-paginator-link > a:hover {
	text-decoration: none;
	outline: none;
	border: none !important;
	padding: 0 !important;
	margin: 2px;
}
.aui-paginator-current-page, .aui-paginator-current-page:hover {
    border: none !important;
    margin: 0 !important;
    font-weight: bold ;
    color: black;
}
/*
 * menus
 */
#markup > div {
	display: inline-block;
	overflow:hidden;
}

#login {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background: #FFF;
	margin: 0 4px 4px;
	padding: 4px;
	overflow: hidden;
	width: 250px;
}


#login  form > div {
	padding: 4px;
	font-size: 10pt;
}
#login  form label {
	margin: 0 4px;
}
#login  form .input.text > label, #login  form .input.password > label {
	width: 60px;
	display: inline-block;
	text-align: right;
}
#login  form input {
}
#login form div.submit {
	xwidth: 100%;
	margin-top: 4px;
	border-top: 1px solid  #E2E6EB;
	padding-left: 77px
}
#login  #UserMagic {
	margin-top: 20px;
}

#login .message {
	border: 1px solid darkRed;
	padding: 4px;
	font-weight: bold;
	color: darkRed;
}

.aui-overlaymask-hidden {
	visibility:hidden;
}
