div.one-col {
	overflow:auto;
}
div.one-col  div.block {
	min-width:350px;
	width: 40%;
	float:left;
	margin: 10px;
	}
#menu-header {
}	
#menu-header ul.inline li{
	margin-left:10px;	
}
#menu-header a{
	color:white;
}


#login > div.block {
	min-width:350px;
	overflow:auto;
}
#choose-folder .block input {
	margin-left:20%;
}
#uploader {
	margin: 10px auto;
    width: 90%;
    background-color: #FFF;
    border: 1px solid #D9E4FF;
	color: black;
}

.panels {
    border: 1px solid #D9E4FF;
    overflow: auto;
    margin: 10px 5px;
}
#upload-tabs {
    width: 400px;
	font-weight: bold;
	cursor:pointer;
}
#toolbar {
    width: 400px;
	cursor:pointer;
}

#toolbar .btns {
}

#toolbar .btns a {
}

#toolbar .btns a:hover {
}

.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    text-decoration: none;
    list-style: none;
}

ul.page {
	margin: 0 auto;
	overflow: hidden;
}

.swfupload {
    vertical-align: top;
}

/*
 * michael's additions
 */
.close-btn {
	color: black;
	font-weight: bold;
    cursor: pointer;
}

ul.inline {
    margin: 0;
    padding: 0;
}

ul.inline > li {
    display: inline;
    list-style-type: none;
}

div#upload-tabs {
    clear: both;
    margin: 4px;
    padding: 0;
    overflow: hidden;
}

div#upload-tabs li {
    padding: 4px;
}



div#import{
	margin:10px auto;
 	width: 90%;
	overflow:hidden;	
}


div#drop-target {
	border:1px solid #D9E4FF;
	padding:10px;
}

div#drop-target.over{
	border:1px solid green;
	background-color: #CCFFCC;
}


.hidden {
    visibility: hidden;
}

.hide {
    display: none;
}

.status-alert {
    background-color: #FFEBEB;
    border: 1px solid #B50000;
}

.status-active {
    background-color: #EBFFEB;
    border: 1px solid #DDF0DD;
}

.status-ok {
    background-color: #F0F5FF;
    border: 1px solid #CEE2F2;
}




/** Paging from snappi.css **/
div.paging {
    text-align: center;
    background: #fff;
    color: #ccc;
    margin: 1em 0 1em 0;
    overflow: hidden;
    padding: 3px 6px 4px;
    cursor: default;
}

div.paging  {
    margin-right: 5px;
    font-weight: bold;
    display: inline;
}

div.paging span.disabled {
    padding: 2px 6px;
    color: #ddd;
    border: 1px solid #CACACA;
}

div.paging span.current {
    padding: 2px 6px;
    background: #538fb3;
    color: white;
    border: 1px solid #538fb3;
}

div.paging span a {
    padding: 2px 6px;
    color: #538fb3;
    background: white;
    border: 1px solid #CACACA;
    text-decoration: none;
    cursor: default;
}

div.paging a:hover {
    padding: 1px 5px;
    color: #538fb3;
    border: 2px solid #538fb3;
}

/** YUI Paging **/
div.paging-numbers {
    text-align: center;
    background: #fff;
    color: #ccc;
    margin: 1em 0 1em 0;
    overflow: hidden;
    padding: 3px 6px 4px;
    cursor: default;
}

div.paging-numbers span {
    margin-right: 5px;
    font-weight: bold;
    display: inline;
}

div.paging-numbers span.disabled {
    padding: 2px 6px;
    color: #ddd;
    border: 1px solid #CACACA;
}

div.paging-numbers span.current {
    padding: 2px 6px;
    background: #538fb3;
    color: white;
    border: 1px solid #538fb3;
}

div.paging-numbers span a {
    padding: 2px 6px;
    color: #538fb3;
    background: white;
    border: 1px solid #CACACA;
    text-decoration: none;
    cursor: default;
}

div.paging-numbers a:hover {
    padding: 1px 5px;
    color: #538fb3;
    border: 2px solid #538fb3;
}

/*
#paginator {
}

#paginator a {
    padding: 5px;
}

#paginator a:hover {
}

#paginator .selected {
    text-decoration: none;
}
*/
