
*/static/lib/*
*/uploads/*
*/bin-debug/*
*/src/db/*
*.swf
/runtimes*
.tmp*
snaphappi-DEBUG.db3
*/src/logs/*
#ignore flashbuilder tmp files

DEV/AIR*

.buildpath
.project
.settings
#ignore aptana studio 3 files

files/
*.log
cake-core/
cakephp-*/
*/*/app/tmp/*
*/app/tmp/*
#ignore cakephp tmp files

#ignore test JPG files
.metadata

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*


svc/
HelloWorld
HelloWorldSkins
odesk/sharelinks
BAKED/app/webroot/static/lib/*