*/static/lib/*
*/uploads/*
*/bin-debug/*
*/bin-release/*
*/src/db/*
*.swf
/runtimes*
.tmp*
snaphappi-DEBUG.db3
*/src/logs/*
#ignore flashbuilder tmp files

DEV/AIR*

#ignore aptana studio 3 files
.buildpath
.project
.settings

#ignore cakephp tmp files
svc/
odesk/sharelinks
app/tmp/*
*/app/tmp/*
app/webroot/static/lib/*
app/plugins/brownie
files/
*.log
cake-core/
cakephp-*/
BAKED/*
BAKED/app/webroot/static/lib/*
BAKED/app/plugins/brownie

#ignore test JPG files
.metadata

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*





app/vendors/thrift/gen-php
app/vendors/THRIFT_ROOT/packages/

TopLevelFolder/air/
