body {
	background: url("/static/img/css-gui/snappi-top.png") no-repeat scroll 8px -150px black;
}
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}

/*
 * use Y.Node.toggleClass() to show/hide
 */
.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.disabled {
    color: gray;
}
#glass {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
	overflow:hidden;
	cursor: pointer;
}

#glass > div.loading {
    background: black url('/static/img/css-pm/ajax-loading-img-hg.black.gif') center center no-repeat;
    width: 100%;
    height: 100%;
}

#glass > div#bottom {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 91;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);		
    background-color: black;
}

#centerbox {
    top: 60px;
    width: 660px;
    height: 660px;
    background: url('/static/img/css-pm/ajax-loading-img-hg.gif') #ffffff center no-repeat;
    padding: 10px;
    position: relative;
	overflow:hidden;
	z-index: 100;
}

/*
 * copied from slimbox2.css, renamed to prevPhoto/nextPhoto
 */
#prevPhoto, #nextPhoto {
    display: block;
    position: absolute;
    z-index: 120;
    top: 30px;
    width: 50%;
    height: 100%;
    outline: none;
    cursor: pointer;
}
#prevPhoto.hide, #nextPhoto.hide {
	display: none;
} 

#prevPhoto {
    left: 0;
}

#prevPhoto:hover {
    background: transparent url('/static/img/css-pm/prevlabel.gif') no-repeat 0 15%;
}

#nextPhoto {
    right: 0;
}

#nextPhoto:hover{
    background: transparent url('/static/img/css-pm/nextlabel.gif') no-repeat 100% 15%;
}
#paging {
    height: 32px;
    left: 0;
    position:absolute;
    width: 100%;
    z-index: 50;
}
#paging > div {
	vertical-align:middle;
	display: inline-block;
}
#paging .prev, #paging .next {
    display: inline-block;
    height: 28px;
    line-height: 32px;
    margin: 2px auto;
    vertical-align: middle;
    width: 63px;
} 
#paging .disabled {
		opacity: 0.5;
		cursor: default;
}
#paging .prev {
	-webkit-border-radius: 5px 0 0 5px ;
	-moz-border-radius: 5px 0 0 5px ;
	padding: 0 20px 0 50px;
	background: transparent url('/static/img/css-pm/prevlabel.gif') no-repeat left;	
}
#paging .next {
	padding: 0 50px 0 20px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	background: transparent url('/static/img/css-pm/nextlabel.gif') no-repeat right;	
} 
#closeBox {
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    background: transparent url('/static/img/css-pm/closelabel.gif') no-repeat right;
    background-position: 97%;
    z-index: 130;
	margin: 0;
}

#lightBoxPhoto {
	margin: 0 12px;
    z-index: 110;
}

a:link, a:visited {
    text-decoration: none;
}
div#header {
	height:32px;
	margin:0;
}
#header, #footer, #share {
	color: white;
    text-align: center;
    margin: 3px;
    font-family: arial;
}


div.sharethis {
	height: 32px;
}
#fullscreen {
	cursor:pointer;
	height: 32px;
	left: 8px;
    position:absolute;
    z-index: 60;
}
div#content {
    margin: 0 3px;
    min-height: 200px;
    z-index: 10;
}

div.pageGallery {
    position: relative;
    margin: 10px auto;
}

div.pageGallery > img, div.pageGallery figure > img  {
	border: 1px solid transparent;
	cursor: pointer;
	position: absolute;
}
.yui3-scrollview-child {
	background-color: #888;
}

div#share {
    margin: 20px;
    font-size: 10pt;
    text-align: center;
    vertical-align:middle;    
}

a#share-link:link, a#share-link:visited {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

.error-page-gallery {
    color: white;
    border: red 1px solid;
    margin: 20% 20% 20% 20%;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
}

#footer {
    margin: 10px auto;
    color: white;
    text-align: center;
    vertical-align:middle;    
    font-family: arial;
}
#footer img {
	border: none;
}


/* scrollView CSS */
.scroll-wrap {
	white-space:nowrap;
}

.page-wrap {
	overflow: hidden;
	display: inline-block;
}


.scroll-wrap ul {
	margin: 0;
}

li.page-wrap {
	list-style-type: none;
	margin: 2px auto;
	vertical-align: middle;
	text-align: center
}

li.page-wrap > img {
	margin: 10px auto;
}
