@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}
article, aside, figure, footer, header, nav, section {
	display: block;
}
@font-face {
	font-family: 'HelveticaNeueRoman';
	src: url('hlr___-webfont.eot');
	src: url('hlr___-webfont.eot?#iefix') format('embedded-opentype'), url('hlr___-webfont.woff') format('woff'), url('hlr___-webfont.ttf') format('truetype'), url('hlr___-webfont.svg#HelveticaNeueRoman') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font: 1em 'HelveticaNeueRoman',Arial,Helvetica,Verdana,sans-serif;
	background: url(../images/body_bg.jpg) no-repeat center top;
	font-family: 'HelveticaNeueRoman';
}
a {
	text-decoration: none;
	outline: none;
}

.hide {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

.grid_16.wrapped {
	width: 938px !important;
	border: 1px solid transparent;
	xmargin: 0 9px;
}

ul.inline.center {
	text-align: center;
}
ul.inline > li {
	display: inline-block;
	white-space: nowrap;
	list-style-type: none;
}
nav > ul {
	cursor: default;
}
nav > ul > li, nav > ul > li > a {
	cursor: pointer;
}
nav ul.menu-trigger > li , nav  ul.menu-trigger > li > a {
	cursor: pointer;
}
.menu > ul > li , .menu > ul > li > a {
	cursor: pointer;
}
ul > li.label {
	cursor: default !important;
}

div.messages > div.message {
	border: 2px solid red;
	margin:4px;
	padding:4px;
	overflow: auto;
}

/* header */
header {
	xoverflow: hidden;
	background: #000;
	height: 40px;
}
header li {
	line-height: 40px !important;
	color: #FFFFFF;
	font-size: 10pt;
	padding: 0 5px;
	margin-left: 5px;
}
header li > a {
	color: #FFFFFF;
}

header .grey {
	color: #AEAEAE;
}

header .logo {
	padding-top: 5px;
}

header nav.primary li:hover {
	background-color: #474b4d;
}
header nav.primary li.focus {
	background-color: #000 !important;
}
header nav.primary li.focus a {
	background: url(../images/arrow.png) no-repeat bottom center;
	padding-bottom: 4px;
}
header nav.user ul.right > li {
	display: inline;
	padding-left: 5px;
	margin-left: 10px;
}
header nav.user li.bg-grey {
	background: #474b4d;
	padding: 0 5px;
	display: inline-block !important;
}

.menu-open {
	background: url(../images/arrow.png) no-repeat right center;
	padding-right: 15px;
}
.menu-close {
	background: url(../images/arrow-up.png) no-repeat right center;
	padding-right: 15px;
}

section#body-container {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	background: #fff;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-top: 7px;
	overflow: hidden;
}
#content {
	overflow:hidden;
}



/* ****************************************************
 * 
 * just adding .wide takes .gallery out of vertical flow. 
 * cannot show .related-content without js
 * 
 * *****************************************************/
/*.container_16.wide {
	width: 100%;
	background:#444;
	position:absolute;
	left: 0;
}
.container_16.wide > .grid_16 {
	width: 100%;
}*/



/* secondary nav */
nav.section-header {
	line-height: 32px !important;
	font-size: 10pt;
	overflow: hidden;
	background-color: #E2E6EB;
}
nav.section-header h1 {
	font-size: 1.1em;
}
nav.section-header > ul li {
	line-height: 1.5;
	margin-left: 5px;
	border: 1px solid #E2E6EB;
	padding: 0 5px;
}
nav.section-header > ul li a {
	color: #000;
}

nav.section-header > ul li:hover, nav.section-header > ul li.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}
nav.section-header > ul li:hover a, nav.section-header > ul li.focus a  {
	color: #fff;
}
nav.section-header > ul li.disabled a {
	color: #888;
	cursor: default;
}
nav.section-header > ul li.disabled {
	cursor: default !important;
}
nav.section-header > ul li.preference {
	background: #8cd1ed;
	border: 1px solid #006e9a;
}
#search {
	overflow: hidden;
}
#search ul.inline > li {
	margin: 2px 0 0 0;
	vertical-align: top;
	line-height: 1.5;
	height: 26px;
}
#search input[type="text"] {
	background-color: #FFF;
	border: 1px solid #A2A6AB;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	width: 150px;
	height: 24px;
	color: #494949;
	padding: 0 4px 0 4px;
}
#search div.go {
	background: url(../images/search.gif) no-repeat scroll -1px -3px transparent;
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #A2A6AB;
	border-left-width: 0px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
}


.gallery {
	xpadding: 4px 10px 0 10px;
	padding: 4px;
	
}
/* gallery toolbars */
section.gallery-header {
	line-height: 28px;
	font-size: 10pt;
	overflow: hidden;	
}
section.gallery-header h1 {
	font-size: 1.1em;
	line-height: 28px;
}
section.gallery-header ul > li {
	line-height: 1.5;
}
section.gallery-header ul {
}
section.gallery-header li.display-option {
/*	background: -moz-linear-gradient(bottom, #E2E6EB, #ffffff);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#ffffff));*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 1px 0 0 8px;
	padding: 2px 4px;
	background-color: #E2E6EB;
	border: 1px solid #D2D2D2;
}
section.gallery-header li.display-option a {
	color: #000;
}
section.gallery-header li.display-option:hover {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	border: 1px solid #CD7708;
}
section.gallery-header li.display-option:hover a {
	color: #FFF;
}
section.gallery-header li.display-option.open {
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border: 1px solid #D2D2D2;
	border-bottom: 0px solid #f5f5f5;
	padding-bottom: 2px;	
	height: 24px;	
}

section.gallery-header ul.thumb-size li {
	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 4px;
	padding: 2px;
}
section.gallery-header ul.thumb-size li.btn:hover, section.gallery-header ul.thumb-size li.btn.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}

section.gallery-header ul.thumb-size li.btn.focus {
	cursor: default !important;
}

section.gallery-header ul.thumb-size li.btn {
	border-color: #D8D5D5;
}


/*
 * good
 */
section.gallery-display-options nav.settings {
	-webkit-border-radius: 5px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 20px !important;
	font-size: 10pt;
	overflow: hidden;
}
section.gallery-display-options li, section.gallery-display-options ul.filter ul{
	float:left;
}
section.gallery-display-options ul li {
	list-style-type: none;
	font-size: 10pt;
}
section.gallery-display-options ul li.btn {
	height: 21px;
	margin: 1px 4px;
	padding: 1px 4px 0;
	background: #FFF;
	border: 1px solid #D8D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #494949;
}
section.gallery-display-options ul.filter li.btn a {
	color: #494949;
}
section.gallery-display-options li.rating.btn {
	width: 156px;
}
section.gallery-display-options li.rating.btn li.remove {
	padding: 0 4px;
	font-size: 0.9em;
	font-weight: bold;
}
section.gallery-display-options li.rating.btn li.remove a {
	color:red;
}
section.gallery-display-options ul li div.ratingGroup {
	margin: 2px 5px 2px
}

section.gallery-display-options ul.sort {
	border-left: 1px solid #d8d5d5;
	padding-left: 10px;
	float: right;
}
section.gallery-display-options ul.sort li select {
	height: 18px;
	margin-top: 1px;
	color: #494949;
}

section.gallery-display-options ul li.btn:hover, section.gallery-display-options ul li.btn.selected {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}
section.gallery-display-options.wide nav.settings {
	-webkit-border-radius: 5px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 20px !important;
	font-size: 10pt;
	overflow: hidden;	
}
section.gallery-display-options ul > li.label {
	padding: 4px 10px 0 4px;
	font-size: 1.0em;
	color: black;
}


/*
 * adjustments for fluid layout
 */
.container_16 .container_16 {
	margin: 0;
	width: 100%;
}
section.gallery-display-options.wide ul.wide-display-options li {
	display: inline-block;
}
section.gallery-display-options.wide ul > li.label {
	border: none;
}
section.gallery.wide {
	background: #5D5D5D;
	padding-top: 10px;
}

/* thumbnails */
.FigureBox figcaption {
	line-height: 1.2;
}

.FigureBox.Photo {
	padding: 2px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 0 4px 10px 0;
	position: relative;
	background-color: #FFF;
}

.FigureBox.Photo .selected {
	position: absolute;
	top: 0px;
	right: 0px;
	width: auto;
}
.FigureBox.Photo:hover {
	background: #fff88a;
}
.FigureBox.Photo.focus {
	background: #fff88a;
}


.FigureBox.Photo ul.extras {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.FigureBox.Photo .extras li {
	float: left;
	margin: 5px 4px 0 0;
}
.FigureBox.Photo .extras li img {
	float: left;
}

.FigureBox.Photo .extras li.rating {
	padding: 2px 0 0 0;
}
.FigureBox.Photo .extras li.rating > img {
	width: 13px;
	height: 12px;
}
.FigureBox.Photo .extras li.score {
	font-size: 11px;
	background: -moz-linear-gradient(bottom, #eeeeee, #fff);
	background: -webkit-gradient(linear, center bottom, center top, from(#eeeeee), to(#fff));
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 25px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	cursor: default;
}
.FigureBox.Photo .extras li.icon {
	float: right;
	cursor: pointer;
}
.FigureBox.Photo .extras li.info > img {
	width: 16px;
	height: 17px;
}
.FigureBox.Photo .extras li.context-menu > img {
	width: 15px;
	height: 16px;
}

/*
 * .lm landscape/medium
 */
.FigureBox.Photo.lm {
	width: 145px;		
	height: 120px;	
}
.FigureBox.Photo.lm > figure > a > img {
	width: 144px;
	height: 96px;
}

/*
 * .ll (landscape/large) == .large 
 */

.FigureBox.Photo.ll > figure > a > img {
	width: 222px;
	height: 148px;
}
/*
 * .sq (square) 
 */
.FigureBox.Photo.sq > figure > a > img {
	width: 75px;
	height: 75px;
}

/*temp CSS for selected*/
.FigureBox.Photo.selected {
	border: 1px solid red;
	-webkit-box-shadow: 2px 2px 5px #FF0000; /* Safari and Chrome */
	box-shadow: 2px 2px 5px #FF0000;
}

.FigureBox.Photo .label {
	font-size: 8pt;
	padding-top: 2px;
	text-align: center;
}


/* Hidden Shot icons */
.FigureBox.Photo > figure {
	position: relative;
}

.FigureBox.Photo.lbx-tiny div.hidden-shot {
	display: none;
}

.FigureBox.Photo div.hidden-shot {
	background: url(../images/icon-hidden-shot-null.png) no-repeat scroll ;
	position: absolute;
	right: 4px;
	bottom: 5px;
	width: 32px;
	height: 18px;
	cursor: pointer;
}
.FigureBox.Photo.ll div.hidden-shot {
	bottom: 20px;
}

.FigureBox.Photo div.hidden-shot.c2 {
	background: url(../images/icon-hidden-shot-2.png) no-repeat scroll ;
}
.FigureBox.Photo div.hidden-shot.c3 {
	background: url(../images/icon-hidden-shot-3.png) no-repeat scroll ;
}
.FigureBox.Photo div.hidden-shot.c4 {
	background: url(../images/icon-hidden-shot-4.png) no-repeat scroll ;
}
.FigureBox.Photo div.hidden-shot.c5 {
	background: url(../images/icon-hidden-shot-5.png) no-repeat scroll ;
}
.FigureBox.Photo div.hidden-shot.c6 {
	background: url(../images/icon-hidden-shot-6.png) no-repeat scroll ;
}
.FigureBox.Photo.hiddenshot-hide {
    display: none;
}
section.gallery.hiddenshots {
	padding: 4px 0;
}

section.gallery.hiddenshots .FigureBox.Photo.hiddenshot-hide {
	display: block;
}
/* ok to here ^^^ */





/*
 * Ratings
 */
/*
 * previous version is div.ratingGroup. this div.rating holds a higher priority in css
 * if i add .loading, all properties in .loading will be overrided by this div.ratingGroup
 */
div.ratingGroup {
    margin: 0 auto;
    background: url('../images/smileyGrp.png') no-repeat;
    background-position: -70px 0; /* init to 0 stars */
    width: 71px; /* width of 5 stars */
    height: 15px;
	cursor:pointer;
	z-index:-1;

}

div.ratingGroup.r0 {
    background-position-x: -70px;
}

div.ratingGroup.r1 {
    background-position: -56px 0;
}

div.ratingGroup.r2 {
    background-position: -42px 0;
}

div.ratingGroup.r3 {
    background-position: -28px 0;
}

div.ratingGroup.r4 {
    background-position: -14px 0;
}

div.ratingGroup.r5 {
    background-position: 0 0;
}

/*section {
	overflow-x: hidden;
}*/

/*div.ratingGroup{
	z-index:auto;
}


ul.photo-roll {
	overflow-x: hidden;
	margin: 0 auto;
}*/

#related-content {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(197,232,250)),color-stop(1, rgb(232,246,253))	);
	background-image: -moz-linear-gradient(center bottom,rgb(197,232,250) 0%,rgb(232,246,253) 100%);
	border: 1px solid #8fb9d0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 7px #fff inset;
	-moz-box-shadow: 0px 0px 7px #fff inset;
	padding: 10px 0 10px 0;	
	margin: 20px auto;
	overflow: hidden;
}

#related-content .left {
	width: 100%;
	position: relative;
	margin: auto;
	padding: 0 0 0 0;
}
#related-content aside {
	xfloat: left;
	xwidth: 282px;
	xmargin-left: 10px;
}
#related-content .left > article {
	margin-bottom: 20px;
}
#related-content .left > article header {
	border-bottom: 1px solid #8bc3e4;
	position: relative
}
#related-content .left header h3 {
	position: absolute;
	left: 0px;
	font-size: 15px;
	color: #000;
}
#related-content .left > article h3.recent {
	background: url(../images/recent.png) left top no-repeat;
	padding: 5px 0px 5px 44px;
	margin-bottom: 4px
}
#related-content .left > article h3.circle {
	background: url(../images/circle.png) left top no-repeat;
	padding: 5px 0px 8px 44px;
	margin-bottom: 4px
}
#related-content .left > article h3.person {
	background: url(../images/person.png) left top no-repeat;
	padding: 5px 0px 8px 44px;
	margin-bottom: 4px
}
#related-content .left > article h3.snap {
	background: url(../images/snap.png) left top no-repeat;
	padding: 5px 0px 8px 44px;
	margin-bottom: 4px
}
#related-content .left > article header ul {
	float: right;
}
#related-content .left > article header ul li a {
	border: 1px solid #8bc3e4;
	color: #356aa0;
	font-size: 13px;
	padding: 11px 11px 0px 0;
	text-decoration: none;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-bottom-color: red;
	height: 22px;
	display: table-cell
}
#related-content .left > article .box-wrap .count, #related-content aside .count  {
	font-size: 0.9em;
	font-weight: normal;
	background-color: #8CD1ED;
	color: #FFF;
	padding: 0 10px;
	display: inline;
}
#related-content .left > article .box-wrap .count > span, #related-content aside .count > span {
	color: #000;
	font-weight: bold;
}

/*.tabbed-area div div {
 * 	
 */
	padding: 20px;
	min-height: 250px;
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
}
.tabbed-area div div, .tabs li a {
	border-top: 1px solid #8bc3e4;
}*/

#related-content aside .people {
	margin-bottom: 30px;
	display: block;
	overflow: hidden;
	padding: 0px 0px 0px 5px
}
#related-content aside .popular {
	margin-bottom: 30px;
	display: block;
	overflow: hidden;
	padding: 0px 0px 0px 5px
}
#related-content aside .popular h3.popular {
	background: url(../images/popular.png) left top no-repeat;
	padding: 5px 0px 5px 22px;
	margin-bottom: 4px
}
#related-content aside .popular ul {
	font-size: 10pt;
}
#related-content aside .popular ul li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0px 0px 3px #ccd6db;
	-moz-box-shadow: 0px 0px 3px #ccd6db;
/*	background: #e9f1f8;*/
/*	border: 1px solid #cee3f2;*/
	background: #22AED1; 
	border: 1px solid #006E9A;
	line-height:16px;
}
#related-content aside .popular ul li a {
/*	color: #0c5586;*/
	color: #FFF;
	display: block;
}
#related-content aside p {
	margin-top: 15px;
	font-size: 0.9em;
}
#related-content aside .people h3.people {
	background: url(../images/people.png) left top no-repeat;
	padding: 5px 0px 8px 27px;
	margin-bottom: 4px
}
#related-content aside .people ul li {
	margin: 0px 8px 12px 0px;
	float: left;
	border: 2px solid #8bc3e4;
	height: 43px;
	width: 43px;
	overflow: hidden;
}
#related-content aside .people ul li:nth-child(5n+5) {
	margin-right: 0px;
}



/*
 * menu-aui menu CSS
 */

.menu {
	position: absolute;
	width: 150px;
	background: #E2E6EB;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
}

.menu ul, .menu li {
	margin: 0;
}

.menu li {
	border-bottom: 1px solid #DEDEDE;
	display: block;
	color: #000;
	padding: 2px;
}

.menu li a {
	display: block;
	padding: 0 5px;
	text-decoration: none;
	color: #000;
}

.menu li:hover, .menu li a:hover {
	background: #ccc;
}

/*
 * drag-drop
 */
.yui3-dd-proxy {
    background-image: url( /img/css/countBadge.png );
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
}

.yui3-dd-proxy span {
    display: block;
    text-align: center;
    margin-top: 4px;
}
div.yui3-dd-drop-active-valid {
    background-color: #bbb;
}

/*  LIGHTBOX */
div.anchor-bottom {
	position: fixed;
	bottom: 20px;
	width: 100%;
	
}
section#lightbox {
	background: -moz-linear-gradient(bottom, #e1e9a0, #eaefb5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaefb5), to(#e1e9a0));
	border:1px solid #000066;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	overflow: hidden;
}	

section#lightbox .header {
	overflow: hidden;
}
section#lightbox .header ul {
	xoverflow:hidden;
	xdisplay: inline-block;
	line-height: 24px;
	font-size: 10pt;
}
section#lightbox .header > ul > li {
	padding-top: 3px;
}
section#lightbox .header .toolbar > div {
	display:inline-block;
}
section#lightbox .header .toolbar ul {
}
section#lightbox .header .count {
	display: inline-block;
	font-size: 0.9em;
	padding-left: 4px;
}
section#lightbox .toolbar ul li {
	height: 32px;
}
section#lightbox .window-options > ul {
	display: inline-block;
	margin-left: 10px;
	line-height: 24px;
}
section#lightbox .toolbar {
	margin-bottom: -1px;
	}
section#lightbox .toolbar ul {
	background: -moz-linear-gradient(bottom, #efefef, #fcfcfc);
	background: -webkit-gradient(linear, center bottom, center top, from(#fcfcfc), to(#efefef));
	border:1px solid #cfcfcf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

section#lightbox .toolbar ul li{
	background:url(../images/seprator_bottom.gif) no-repeat bottom right ;
	padding: 0px 10px;
}
section#lightbox .toolbar ul li a{color:#000; font-size:11px;}

section#lightbox .toolbar ul li.none{
	background:none;
}

section#lightbox .gallery.photo {
	border:1px solid #bdbcbd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#FFF;
}

section#lightbox ul.thumb-size li {
	border: 1px solid transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 4px;
	padding: 2px;
}
section#lightbox ul.thumb-size li.btn:hover, section#lightbox  ul.thumb-size li.btn.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}

section#lightbox  ul.thumb-size li.btn.focus {
	cursor: default !important;
}

section#lightbox  ul.thumb-size li.btn {
	border-color: #D8D5D5;
	height: 24px;
}
section#lightbox section.gallery.lightbox {
	padding: 0;
	margin-bottom: 1px;
}

/*
 * filmstrip CSS
 */
.alpha-b1 {
	margin-left: 9px;
}
.omega-b1 {
	margin-right: 9px;
}
section.filmstrip {
	background: -moz-linear-gradient(bottom, #e1e9a0, #eaefb5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaefb5), to(#e1e9a0));
	border:1px solid #000066;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	overflow: hidden;
}	

section.filmstrip .header {
	overflow: hidden;
}
section.filmstrip .header ul {
	xoverflow:hidden;
	xdisplay: inline-block;
	line-height: 24px;
	font-size: 10pt;
}
section.filmstrip .header > ul > li {
	padding-top: 3px;
}
section.filmstrip .header .toolbar > div {
	display:inline-block;
}
section.filmstrip .header .toolbar ul {
}
section.filmstrip .header .count {
	display: inline-block;
	font-size: 0.9em;
	padding-left: 4px;
}
section.filmstrip .header .toolbar ul li {
	height: 32px;
}
section.filmstrip .header .window-options > ul {
	display: inline-block;
	margin-left: 10px;
	line-height: 24px;
}
section.filmstrip .header .toolbar {
	margin-bottom: -1px;
	}
section.filmstrip .header .toolbar ul {
	background: -moz-linear-gradient(bottom, #efefef, #fcfcfc);
	background: -webkit-gradient(linear, center bottom, center top, from(#fcfcfc), to(#efefef));
	border:1px solid #cfcfcf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

section.filmstrip .toolbar ul li {
	background:url(../images/seprator_bottom.gif) no-repeat bottom right ;
	padding: 0px 10px;
}
section.filmstrip .toolbar ul li a{color:#000; font-size:11px;}

section.filmstrip .toolbar ul li.none{
	background:none;
}

section.filmstrip .header ul.thumb-size li {
	border: 1px solid transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 4px;
	padding: 2px;
}
section.filmstrip .header ul.thumb-size li.btn:hover, section.filmstrip  ul.thumb-size li.btn.focus {
	background: -moz-linear-gradient(bottom, #fca22f, #ffc374);	 
	background: -webkit-gradient(linear, center bottom, center top, from(#fca22f), to(#ffc374));	border: 1px solid #cd7708;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: 1px solid #CD7708;
}

section.filmstrip .header ul.thumb-size li.btn.focus {
	cursor: default !important;
}

section.filmstrip .header ul.thumb-size li.btn {
	border-color: #D8D5D5;
	height: 24px;
}

/*  DUPICATES?  */
.gallery .filmstrip-wrap {
	
}
.gallery .filmstrip-wrap .filmstrip {
/*	fixed filmstrip width to fill .filmstrip.wrap, sets HScroll on overflow */
	width: 100%;
/*	add Hscroll if .filmstrip.container width > .filmstrip width */
	overflow-x: auto;
/*	height needs to expand to accommodate Hscrollbar*/
	height: auto;
	display:inline-block;
	min-height: 39px;
}
.gallery .filmstrip-wrap .filmstrip > .container {
	display:inline-block;
}

.gallery.photo.filmstrip {
	border:1px solid #bdbcbd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#FFF;
	padding: 0;
}

/*	lightbox filmstrip:  */
section.filmstrip section.gallery.lightbox {
	padding: 0;
	margin-bottom: 1px;
}
.gallery.lightbox div.container {
/*	this value must be set in javascript to accomodate the count of thumbnails*/
	width: auto;
}
#dialog-hidden-shot {
	width: 660px;
}
section#shot-gallery.filmstrip, #dialog-hidden-shot > section.filmstrip {
	width: 660px;
	border-radius: 0 0 10px 10px;
}

section#shot-gallery section.filmstrip {
	xborder-radius: 0 0 10px 10px;
}
section#shot-gallery .header {
	clear: both;
}



.gallery .filmstrip .FigureBox.Photo.lbx-tiny {
	width:33px;
	height:33px;
	padding:3px;
	overflow:hidden;
	border:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	float:left;
	margin:0;
	position:relative;
}
.gallery .filmstrip .FigureBox.Photo.lbx-tiny.selected {
	border: 2px solid red;
	padding: 1px;
}
.gallery .filmstrip .FigureBox.Photo.lbx-tiny > figure {
	width:33px;
	height:33px;
}
.gallery .filmstrip .FigureBox.Photo.lbx-tiny > figure > img {
	width:33px;
	height:33px;
}

.gallery .filmstrip .FigureBox.Photo {
	margin: 0;
}

/*	hiddenShot-filmstrip:  */



/*
 * forms
 */
form input[type='text'].help {
	color: gray;
}

/*
 * toolbar
 */
.toolbar input[type='checkbox'] {
	vertical-align: text-bottom;
}
.toolbar .menu-open {
	padding-right: 10px;
}
.gallery-header .toolbar input[type='checkbox'] {
	vertical-align: text-top;
}
/*
 * menus
 */
.menu li.disabled {
	cursor: default;
	color: gray;
	background-color: lightgray;
}

.menu li.selected {
	background: url(../images/arrow.png) no-repeat left center;
	padding-left: 10px;
}

/*
 * dialogs
 */
.aui-dialog-bd .selected {
	border: 2px solid red !important; 
}

ul.circle-thumb li.selected {
	margin-right:16px;
	margin-bottom:8px;
}
/*replaces ul.circle-thumb li.selected */
.FigureBox.Group.selected { 
	margin-right:16px;
	margin-bottom:8px;
}

.dialog-vert-select li {
	border: 2px solid transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
	margin: 10px 10px 0 10px;
	padding: 4px 4px 4px 24px;
	list-style-type: none;
	cursor: pointer;
}
.dialog-vert-select li > div {
	display: inline-block;
	font-size: 10pt;
	vertical-align: text-top;
	width: 285px;
}
.dialog-vert-select li > div.term {
	width: 120px;
}
.dialog-vert-select li:hover {
	border: 2px solid gray;
} 


/*
 * Group/Circle thumbnails
 */
.gallery.group {
	padding: 4px;
}
.FigureBox.Group {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.FigureBox.Group:hover figure {
	background: #fff88a;
}
.FigureBox.Group.focus figure {
	background: #fff88a;
}
.FigureBox.Group figure {
	font-size: 10pt;
/*	thumbnail height */
	xheight: 83px;
}

.FigureBox.Group figure > a > img {
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 8px #afb4b6;
	-moz-box-shadow: 0px 0px 8px #afb4b6;
	vertical-align: top;
}

.FigureBox.Group  figcaption .extras li a {
    color: #404040;
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
}
.FigureBox.Group .label {
	text-align: left;
}

.FigureBox.Group .label span {
	font-weight: normal;
}
.FigureBox.Group .description {
	font-size: 0.8em;
}
.FigureBox.Group .extras li {
	display: inline;
	border-right: 1px solid #404040;
	padding: 0 5px;
}
.FigureBox.Group .extras li.last {
	border-right: none;
}
.FigureBox.Group .extras li.icon {
	padding-left: 15px;
}

.FigureBox.Group li.privacy.public {
	background: url(../images/earth.png) no-repeat left;
}
.FigureBox.Group li.privacy.listing {
	background: url(../images/earth.png) no-repeat left;
}
.FigureBox.Group li.privacy.members {
	background: url(../images/people.png) no-repeat left;
}
.FigureBox.Group li.privacy.admin {
	background: url(../images/lock.png) no-repeat left;
}
.FigureBox.Group.sq {
	margin-bottom: 10px;
}
.FigureBox.Group.sq figure {
	margin:2px;
	padding:2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;		
}
.FigureBox.Group.sq figure > a > img {
}
.FigureBox.Group.sq  figcaption {
	display: inline-block;
	padding: 2px;
/*	controls wrap for .extras.description*/
	width: 215px;	
}
.FigureBox.Group.ll {
	margin-bottom: 10px;
}
.FigureBox.Group.ll figure {
	padding:2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;		
}
.FigureBox.Group.ll  figcaption {
	display: block;
	padding: 2px 0;
/*	controls wrap for .extras.description*/
	width: 226px;	
}
.FigureBox.Group.ll .label {
	font-weight: bold;
	font-size: 1.1em;
}



/* Circles home page */
section.item-header > div.wrap {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(197,232,250)),color-stop(1, rgb(232,246,253))	);
	background-image: -moz-linear-gradient(center bottom,rgb(197,232,250) 0%,rgb(232,246,253) 100%);
	background: #FFFFC3;
	xborder: 1px solid #8fb9d0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	box-shadow: 0 0 5px #888888;
	x-webkit-box-shadow: 0px 0px 7px #fff inset;
	x-moz-box-shadow: 0px 0px 7px #fff inset;
	padding: 4px;	
	clear: both;
	overflow: hidden;
}
section.item-header ul {
	height: 50px;
}
section.item-header .thumbnail img {
	width: 50px;
	height: 50px;
	vertical-align: text-bottom;
}
section.item-header .label {
	font-size: 1.5em;
}
section.item-header .item-class {
	font-weight: 700;
}


/*
 * Person/Circle thumbnails
 */
.gallery.person {
	padding: 4px;
}
.FigureBox.Person {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.FigureBox.Person:hover figure {
	background: #fff88a;
}
.FigureBox.Person.focus figure {
	background: #fff88a;
}
.FigureBox.Person figure {
	font-size: 10pt;
/*	thumbnail height */
	xheight: 83px;
}

.FigureBox.Person figure > a > img {
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 8px #afb4b6;
	-moz-box-shadow: 0px 0px 8px #afb4b6;
	vertical-align: top;
}

.FigureBox.Person  figcaption .extras li a {
    color: #404040;
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
}
.FigureBox.Person .label {
	text-align: left;
}

.FigureBox.Person .label a {
	text-decoration: none;
}
.FigureBox.Person .description {
	font-size: 0.8em;
}
.FigureBox.Person .extras li {
	display: inline;
	border-right: 1px solid #404040;
	padding-right: 5px;
	margin-right: 5px;
}
.FigureBox.Person .extras li.last {
	border-right: none;
	margin-right: 0;
}
.FigureBox.Person .extras li.icon {
	padding-left: 15px;
}

.FigureBox.Person.sq {
	margin-bottom: 10px;
}
.FigureBox.Person.sq figure {
	margin:2px;
	padding:2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;		
}
.FigureBox.Person.sq figure > a > img {
	width: 75px;
	height: 75px;
}
.FigureBox.Person.sq  figcaption {
	display: inline-block;
	padding: 2px;
/*	controls wrap for .extras.description*/
	width: 110px;	
}
.FigureBox.Person.lm {
	margin-bottom: 10px;
}
.FigureBox.Person.lm figure {
	padding:2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;		
}
.FigureBox.Person.lm figure > a > img {
	width: 144px;
	height: 96px;
}
.FigureBox.Person.lm  figcaption {
	display: block;
	padding: 2px 0;
/*	controls wrap for .extras.description*/
	xwidth: 226px;	
}
.FigureBox.Person.lm .label {
	font-weight: bold;
	font-size: 1.1em;
}

/*  aui paginator  */
.aui-paginator-container .wrap {
	-webkit-border-radius: 5px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(bottom, #E2E6EB, #f5f5f5);
	background: -webkit-gradient(linear, center bottom, center top, from(#E2E6EB), to(#f5f5f5));
	line-height: 21px;
	margin-bottom: 4px;
	font-size: 10pt;
	overflow: hidden;
	position: relative;
	padding: 0 20px;
}
.aui-paginator-container .wrap > div {
	display: inline-block;
}
.wrap-rows-per-page {
	width: 40%;
}
.aui-paginator-rows-per-page {
	bottom: 2px;
}
.wrap-page-report {
	width: 20%;
}
.aui-paginator-current-page-report {
	display: block;
	text-align:center;
}
.wrap-paginator-link {
	width: 40%;
	text-align: right;
	cursor: pointer;
}
.wrap-paginator-link > a {
	display: inline-block;
	width: 11px;
}
.aui-paginator-first-link{
	background: url(../images/first.png) no-repeat center;
} 
.aui-paginator-prev-link{
	background: url(../images/prev.png) no-repeat center;
} 
.aui-paginator-next-link{
	background: url(../images/next.png) no-repeat center;
} 
.aui-paginator-last-link{
	background: url(../images/last.png) no-repeat center;
} 
.aui-paginator-page-link {
	padding: 3px;
} 




/*temp classes  for debug only*/
div.placeholder {
	border: 1px solid red;
}
div.properties {
	overflow: hidden;
	background: #FFF;
	box-shadow: 0 0 5px #888888;
}
