#top-level-folder-alt {
	display:block;
	text-align:left;
}
#TLFBadge {
}
#content div.messages .message .restart > *{
	display: inline;
}    	
.blue.rounded-5 .wrap {
	margin: 10px 0;
	padding: 0 5px;
}
#checking-config .meter {
	height:12px;
	margin: 10px 100px;
	padding:4px;
}
#top-level-folder-wrap p {
	font-size:10pt;
	text-align:center;
}
#thrift-uploader-wrap .actions {
	font-size: 12pt;
	padding: 20px;
}
#snappi-uploader-wrap.offscreen {
	margin-left:-10000px;
	position:absolute;
}
#uploader-ui-xhr.active {
	cursor: progress;
}
#uploader-ui-xhr .wrap{
	padding: 0;
}
table.thrift-folders {
	margin: 10px;
}
table.thrift-folders tr.header {
	margin-bottom: 4px;
}
table.thrift-folders tr {
}
table.thrift-folders th {
	font-size: 10pt;
	font-weight: bold;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 0 4px;
	margin-bottom: 4px;
}
table.thrift-folders td {
	font-size:10pt;
	padding: 4px 0;
	text-align: center;
}
table.thrift-folders td.status {
	width: 200px;
	padding: 2px;
}
table.thrift-folders td.is-watched {
	width: 40px;
}
table.thrift-folders .label {
	text-align: left;
	width: 300px;
}
table.thrift-folders td.remove {
	width: 40px;
}

table.thrift-folders td.remove input{
	font-weight: normal;
	text-shadow: none;
}

table.thrift-folders tr.row.active li {
	color: blue;
}

table.thrift-folders td.status .progress {
	height: 12px;
	padding: 3px;
}
table.thrift-folders td.status .progress.pending  {
	color: white;	
}
table.thrift-folders td.status .progress.active  {
	background-color: blue;
	color: white;	
}

.progress.done > span {
	width: 100%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
/*	same as orange */
.progress.active > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}


/*	same as no-stripes */
.progress.done > span > span, .progress.done > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	background-image: none;
}


/* from http://css-tricks.com/examples/ProgressBars/  */
.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	margin: 2px 0; /* Just for demo spacing */
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}


.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	background-image: none;
}

			


:not(.disabled).red {
/*http://www.colorzilla.com/gradient-editor/#ff9191+0,d12c1d+100;Custom*/
	background: #ff0505; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0505 0%, #881b12 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0505), color-stop(100%,#881b12)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0505 0%,#881b12 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0505 0%,#881b12 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0505 0%,#881b12 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0505 0%,#881b12 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0505', endColorstr='#881b12',GradientType=0 ); /* IE6-9 */
	border: 1px solid #f79621 !important;
	color: #FFF !important;	
}
:hover:not(.disabled).red {
/*http://www.colorzilla.com/gradient-editor/#ff9191+0,d12c1d+100;Custom*/
	background: #ff8181; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff8181 0%, #ca291a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8181), color-stop(100%,#ca291a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff8181 0%,#ca291a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff8181 0%,#ca291a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff8181 0%,#ca291a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff8181 0%,#ca291a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8181', endColorstr='#ca291a',GradientType=0 ); /* IE6-9 */
	border: 1px solid #f79621 !important;
	color: #FFF !important;	
}

:not(.disabled).green {	
	background: #c6f77e !important; /* Old browsers */
	background: -moz-linear-gradient(top, #c6f77e 0%, #8ecc2a 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6f77e), color-stop(100%,#8ecc2a)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c6f77e 0%,#8ecc2a 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c6f77e 0%,#8ecc2a 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c6f77e 0%,#8ecc2a 100%) !important; /* IE10+ */
	background: linear-gradient(top, #c6f77e 0%,#8ecc2a 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6f77e', endColorstr='#8ecc2a',GradientType=0 ) !important; /* IE6-9 */	
	border: 1px solid #8ecc2a !important;
	color: #000 !important;
}

:hover:not(.disabled).green {
	background: #d8fba3 !important; /* Old browsers */
	background: -moz-linear-gradient(top, #d8fba3 0%, #b3e95d 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8fba3), color-stop(100%,#b3e95d))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8fba3 0%,#b3e95d 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8fba3 0%,#b3e95d 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d8fba3 0%,#b3e95d 100%)!important; /* IE10+ */
	background: linear-gradient(top, #d8fba3 0%,#b3e95d 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8fba3', endColorstr='#b3e95d',GradientType=0 ) !important; /* IE6-9 */
	border: 1px solid #5A7F1A !important;
}
